:root{
    /* color */
    --white-color:#ffffff;
    --black-color:#0d0d0d;
    --blue-color:#0f69ff;
    --red-color:#ff0000;
    --grey-dark-color:#909090;
    --grey-light-color:#e0e0e0;
    /* size */
    --padding:12px;
    --avatar-size:36px;
    /* font-size */
    --font-large:18px;
    --font-medium:14px;
    --font-small:12px;
    --font-micro:10px;
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    list-style:none;
}
body{
    font-family: 'Roboto', sans-serif;
}

button,
button:focus{
border:none;
cursor:pointer;
outline:none;
background-color: transparent;
}
/* header */
header{
    display: flex;
    justify-content: space-between;
    padding:var(--padding);
    background-color: var(--black-color);
    color:var(--white-color);
}
header .logo{
    font-size: var(--font-large);

}
header .logo i {
    color:var(--red-color);
}
header .icons .fa-search{
    margin-right:var(--padding);
}
.player{
    text-align: center;
    background-color: var(--black-color);
    position:sticky;
    top:0;

}
.player video{
    width:100%;
    height:100%;
    max-width: 1000px;
}

body > .info{
    padding:var(--padding);
}
.info .metadata .hashtags{
    display: flex;
    font-size: var(--font-small);
    color:var(--blue-color);
}
.info .metadata .hashtags li{
    margin-right:var(--padding);
    
}
.info .metadata .titleAndButton{
    display: flex;
}
.info .metadata .titleAndButton .title{
    font-size: var(--font-medium);
    display:-webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow:hidden;
    margin-right:var(--padding);
}
.info .metadata .titleAndButton .morebtn{
    height:100%;
}
.info .metadata .views{
    font-size:var(--font-small);
    color:var(--grey-dark-color);
}
.info .actions{
    display:flex;
    justify-content: space-around;
    margin:var(--padding) 0;
}
.info .actions button{
    display:flex;
    flex-direction:column;
    font-size: var(--font-small);
    color:var(--grey-dark-color);
}
.info .actions button i{
    margin:0 auto;
    margin-bottom:calc(var(--padding)/2);
    font-size:16px;
}
.info .actions button i.active{
    color:var(--blue-color);
}
.info .channel{
    display:flex;
    justify-content:space-between;
    border-top:1px solid var(--grey-light-color);
    border-bottom:1px solid var(--grey-light-color);
}
.info .channel .metadata{
    display:flex;
    align-items: center;
}
.info .channel .metadata img{
    width:var(--avatar-size);
    height:var(--avatar-size);
    border-radius: 50%;
}
.info .channel .metadata .info{
    display:flex;
    flex-direction:column;
}
.info .channel .metadata .info .name{
font-size: var(--font-medium);
}
.info .channel .metadata .info .subsribers{
font-size: var(--font-small);
color:var(--grey-dark-color);
}
.info .channel .subscribe-btn{
    text-transform: uppercase;
    color:var(--red-color);
    font-weight:700;
    font-size:var(--font-medium);
}
.upnext{
    padding:0 var(--padding);
}
.upnext > .title {
    font-size: var(--font-medium);
    color:var(--grey-dark-color);
    margin-bottom:cal(var(--padding)/2);
}
.upnext .item{
    display:flex;
    margin-top:var(--padding);

}
.upnext .item .img{
    flex:1 1 35%;
    margin-right:var(--padding);
}
.upnext .item .img img{
    width:100%;
}
.upnext .item .info{
    flex:1 1 60%;
}
.upnext .item .morebtn{
    flex:1 1 5%;

}
.upnext .item .info{
    display:flex;
    flex-direction:column;
}
.upnext .item .info .title{
    font-size: var(--font-small);
}
.upnext .item .info .name,
.upnext .item .info .views{
    font-size: var(--font-micro);
    color:var(--grey-dark-color);
}
.info-and-upnext{
    display:flex;
    flex-direction: column;
}
@media screen and (min-width:768px){
    .info-and-upnext{
        flex-direction: row;
        margin:var(--padding) 0;
    }
    .info{
        flex:1 60%;
    }
    .upnext{
        flex:1 40%;
    }
}